# Archivos del sistema Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Editores
.vscode/
.idea/
*.suo
*.user

# Documentos privados y guías de estudio
guia_*
*.pdf

